<ion-header [translucent]="true">
  <ion-toolbar>
    <center><ion-title>
      Quicktrade
    </ion-title></center>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div>
  <center><ion-button expand="block" routerLink="/insert" routerDirection="forward">Insertar Producto</ion-button></center>

</div>
<div>
  <center><ion-button expand="block" routerLink="/list" routerDirection="forward">Listar Productos</ion-button></center>
</div>
<div>
  <center><ion-button expand="block" routerLink="/ventas" routerDirection="forward">Mis Ventas</ion-button></center>
</div>


  
</ion-content>
